.mainHomeCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fadeIn 3s ease-in-out forwards;
  padding-bottom: 20px;
}
.picture {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?q=80&w=3892&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center center;
  position: relative;
  margin-bottom: 40px;
}

.darkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sectionHead {
  width: 100%;
  height: 170px;
  position: relative;
  z-index: 2;
}

.sectionTitle {
  font-size: 2.5em;
  font-family: "Roboto Slab";
  font-weight: 700;
}

.sectionSubTitle {
  font-size: 1.5em;
  padding: 40px 20px;
  padding-bottom: 0;
  font-weight: 400;
}
.sectionTitle,
.sectionSubTitle,
.gridTitle,
.featuredSectionTitle {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.dividedSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 400px;
  max-width: 600px;
  gap: 10px;
}

.gridBox {
  border: 4px solid #a3a2ff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.gridBox:nth-child(3) {
  grid-column: 1 / span 2;
}

.gridTitle {
  font-size: 1.3em;
  color: #a3a2ff;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #a3a2ff;
  margin-bottom: auto;
}

.gridText {
  font-size: 1.1em;
  color: #1f1f1f;
  height: 100%;
  padding: 20px 0;
  background-color: #a3a2ff;
  width: 100%;
}

.featuredSection {
  margin-top: 40px;
  width: 80%;
  height: 600px;
  background-color: #a3a2ff;
  border-radius: 8px;
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.featuredSectionTitle {
  font-size: 1.3em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 700px) {
  .picture {
    height: 1000px;
  }
}
